@model Infonet.Web.ViewModels.Services.EventSearchViewModel
@using PagedList.Mvc;
@{
	ViewBag.Title = "Events";
}

@using (Html.BeginForm("Search", "Event", FormMethod.Get, new { id = "main", autocomplete = "off" })) {
	@Html.Partial("_DateRangeSelect", Model, new ViewDataDictionary { { "rangeTitle", "Event Date Range" }, { "rangeTooltipTitle", "" } })
	@Html.Partial("_SearchResetNewButtons", Model, new ViewDataDictionary { { "NewButtonUrl", "/Event/FormRedirect" }, { "NewButtonText", "New Event" } })
}
<table class="table table-hover table-responsive">
	<tr>
		<th scope="col" width="10%">
			Event Date
		</th>
		<th scope="col" width="30%">
			Event Type
		</th>
		<th scope="col" width="10%">
			Event Hours
		</th>
		<th scope="col" width="15%">
			No. of People Reached
		</th>
		<th scope="col" width="30%">
			Staff/Volunteer
		</th>
		<th width="5%"><span class="sr-only">Action</span></th>
	</tr>
	@foreach (var item in Model.EventList) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.EventDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EventType)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.EventHours)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.NumOfPeopleReached)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Staff)
			</td>
			<td class="text-right">
				@Html.ActionLink("Edit", "FormRedirect", new { id = item.ICS_ID }, new { @class = "btn btn-xs btn-primary btn-outline" })
			</td>
		</tr>
			}
</table>

<div class="row">
	<div class="col-sm-12">
		@Html.PagedListPager(Model.EventList, page => Url.Action(@Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath)), @Html.Snippets().PagedListPagerRouteValues(page, Model)), @Html.Snippets().PagedListRenderOptions())
		@Html.Partial("_PagedListDropMenu", Model, new ViewDataDictionary { { "PagedListUrlAction", @Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath)) } })
	</div>
</div>

@section Scripts {
	<script src="~/Scripts/ICJIA/date-ranges.js"></script>
	<script src="~/Scripts/ICJIA/pagedlist.js"></script>
}





