@model Infonet.Web.ViewModels.Admin.FundingForStaff

@{
	if (Model != null && Model.FFSMFA != null && Model.FFSMFA.FundingSelectionList != null) {
		<div class="well icjia-ffs-scrollable">
			<table class="table" id="multiFundFundsHeaderMFA">
				<thead>
					<tr>
                        <th scope="col"><span class="sr-only">Funding</span></th>
                        <th scope="col">Funds <button type="button" id="multiFundFundsDeselectAll" style="margin:5px;" class="btn btn-default btn-xs dirtyignore" aria-label="Deselect All Funds">Deselect All</button></th> 
                        <th scope="col">%</th>
                    </tr>
				</thead>
			</table>

			<div class="table-responsive pre-scrollable icjia-ffs-scrollable" id="divMultiFundFunds">
				<table class="table" id="multiFundFunds">
					<tbody>
						@for (var i = 0; i < Model.FFSMFA.FundingSelectionList.Count(); i++) {
							<tr>
								<td>
									@Html.HiddenFor(m => m.FFSMFA.FundingSelectionList[i].CodeID)
									@Html.CheckBoxFor(m => m.FFSMFA.FundingSelectionList[i].IsChecked, new { @class = "multiFundFundCheckbox" })
								</td>
								<td>
									@Html.LabelFor(m => m.FFSMFA.FundingSelectionList[i].IsChecked, Model.FFSMFA.FundingSelectionList[i].Name)
									@Html.HiddenFor(m => m.FFSMFA.FundingSelectionList[i].Name)
								</td>
								<td class="form-group">
									@Html.TextBoxFor(m => m.FFSMFA.FundingSelectionList[i].PercentFund, new { @class = "form-control multiFundFundPercent", @type = "number", @min = "0" })
									@Html.ValidationMessageFor(m => m.FFSMFA.FundingSelectionList[i].PercentFund)
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>

			<table class="table" id="multiFundFundsFooter">
				<tfoot>
					<tr><th scope="col" ><span class="sr-only">Total</span></th>
					<th scope="col">
						<div style="float:left; width: 75%" id="multiFundFundsTotalError">@Html.ValidationMessage("MFAPercentError")</div>
						<div style="float:right; width: 25%;" class="text-right"><span id="multiFundFundsTotal" data-toggle="tooltip" title="Total fund % must be 100% to save changes.">Total %:</span></div>
					</th>
					<th scope="col" style="width:82px;" id="multiFundFundsTotalPercent"></th></tr>
				</tfoot>
			</table>
		</div>
	}
}




