@model ClientCase

<div class="panel-body">
	<fieldset class="form-group">
		<legend data-toggle="tooltip" title="Select the organization type(s) that referred the client for services.">Referred By</legend>
		<div class="icjia-checkbox-group">
			<div class="row">
				<div class="col-sm-4">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Police)
						<label for="@Html.IdFor(model => model.ClientReferralSource.Police)" style="padding-left: 20px;">Police</label>
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.StateAttorney)
						<label for="@Html.IdFor(model => model.ClientReferralSource.StateAttorney)" style="padding-left: 20px;">Legal System, State's Attorney</label>
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Hospital)
						@Html.LabelFor(model => model.ClientReferralSource.Hospital)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Clergy)
						@Html.LabelFor(model => model.ClientReferralSource.Clergy)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.EducationSystem)
						@Html.LabelFor(model => model.ClientReferralSource.EducationSystem)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.PublicHealth)
						@Html.LabelFor(model => model.ClientReferralSource.PublicHealth)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Relative)
						@Html.LabelFor(model => model.ClientReferralSource.Relative)
					</div>
				</div>
				<div class="col-sm-4">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.DCFS)
						@Html.LabelFor(model => model.ClientReferralSource.DCFS)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Self)
						@Html.LabelFor(model => model.ClientReferralSource.Self)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.SocialServiceProgram)
						@Html.LabelFor(model => model.ClientReferralSource.SocialServiceProgram)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Friend)
						@Html.LabelFor(model => model.ClientReferralSource.Friend)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Hotline)
						@Html.LabelFor(model => model.ClientReferralSource.Hotline)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Media)
						@Html.LabelFor(model => model.ClientReferralSource.Media)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.ChildAdvocacyCenter)
						@Html.LabelFor(model => model.ClientReferralSource.ChildAdvocacyCenter)
					</div>
				</div>

				<div class="col-sm-4">
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.PrivateAttorney)
						@Html.LabelFor(model => model.ClientReferralSource.PrivateAttorney)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.OtherRapeCrisisCenter)
						@Html.LabelFor(model => model.ClientReferralSource.OtherRapeCrisisCenter)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Medical)
						<label for="@Html.IdFor(model => model.ClientReferralSource.Medical)" style="padding-left: 20px;">Other Medical</label>
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(model => model.ClientReferralSource.Other)
						@Html.LabelFor(model => model.ClientReferralSource.Other, new { data_toggle = "tooltip", title = "Specify the type of organization that referred the client for services if none of the existing options apply." })
					</div>
					<div class="form-group">
						@Html.TextBoxFor(model => model.ClientReferralSource.WhatOther, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.ClientReferralSource.WhatOther, "", new { @class = "help-block" })
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group mb-0">
				@Html.LabelFor(model => model.ClientReferralSource.AgencyID, new { @class = "control-label", data_toggle = "tooltip", title = "Select the agency that referred the client for services.  If referring agency does not exist in the drop-down menu, go to Administration -> Lookup Lists -> Agencies to add an Agency or inform your supervisor." })				
                @Html.DropDownListFor(model => model.ClientReferralSource.AgencyID, new SelectList(Data.Centers.GetAgencyForCenterinCurrentAgencyId(Session.Center().ProviderId, Session.Center().Id, Model.ClientReferralSource == null ? 0 : Model.ClientReferralSource.AgencyID), "AgencyID", "AgencyName"), "Select an Agency", new { @class = "form-control" })
			</div>
		</div>
	</div>
</div>