@model ReferralSearchDates

<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			@Html.Label("ReferralDateRangeStart", "Date Range", new { @class = "control-label", data_toggle = "tooltip", title = "Enter the date range for referral records you want to view." })
			<div class="input-daterange input-group" id="datepickerReferral" data-provide="datepicker">
				@Html.TextBoxFor(m => m.ReferralDateRangeStart, "{0:MM/dd/yyyy}", new { @class = "form-control referralDateRange dirtyignore", autocomplete = "off" })
				<span class="input-group-addon"><b>to</b></span>
				@Html.TextBoxFor(m => m.ReferralDateRangeEnd, "{0:MM/dd/yyyy}", new { @class = "form-control referralDateRange dirtyignore", autocomplete = "off" })
			</div>
			<div>@Html.ValidationMessageFor(m => m.ReferralDateRangeStart)</div>
			<div>@Html.ValidationMessageFor(m => m.ReferralDateRangeEnd)</div>
		</div>
	</div>
	<div class="form-group col-lg-3">
		<label for="referralDateRangesSelect" class="control-label">Date Ranges</label>
		<select class="form-control referralDateRange dirtyignore" name="Range" id="referralDateRangesSelect" data-icjia-role="dateRanges" data-icjia-start="#referralSearchDates_0__ReferralDateRangeStart" data-icjia-end="#referralSearchDates_0__ReferralDateRangeEnd" data-icjia-default-range="0">
			@Html.Partial("_DateRangeOptions1-8")
		</select>
	</div>

	<div class="form-group col-lg-3 icjia-search-reset">
		<button type="button" id="referralSearch" class="btn btn-primary icjia-has-spinner"> <span class="icjia-spinner"><img src="~/Content/Images/ajax-loader.gif" width="12" height="12"></span>Search <span class="glyphicon glyphicon-search"></span></button>
		<button type="submit" class="btn btn-warning cancel" id="referralReset">
			Reset <span class="glyphicon glyphicon-refresh"></span>
		</button>
	</div>
</div>