@model ClientCase

<div class="panel-body pb-0">
	<div class="icjia-checkbox-group">
		<div class="row">
			<div class="col-sm-4 col-lg-3">
				<div class="checkbox">
					@Html.CheckBoxFor(m => m.ClientDisability.NoSpecialNeeds)
					@Html.LabelFor(m => m.ClientDisability.NoSpecialNeeds)
				</div>
			</div>
			<div class="col-sm-3 col-md-2">
				<div class="checkbox">
					@Html.CheckBoxFor(m => m.ClientDisability.UnknownSpecialNeeds)
					@Html.LabelFor(m => m.ClientDisability.UnknownSpecialNeeds)
				</div>
			</div>
			<div class="col-sm-5 col-md-6 col-lg-7">
				<div class="checkbox">
					@Html.CheckBoxFor(m => m.ClientDisability.NotReported)
					@Html.LabelFor(m => m.ClientDisability.NotReported)
				</div>
			</div>
		</div>
	</div>
	<hr style="margin-top: 10px; margin-bottom: 10px" />
	<fieldset class="form-group mb-0">
		<legend>Special Needs of Client (check as many as apply)</legend>
		<div class="icjia-checkbox-group">
			<div class="row" id="icjia-special-needs-body">
				<div class="col-sm-6">
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.Deaf)
						@Html.LabelFor(m => m.ClientDisability.Deaf)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.ADLProblem)
						@Html.LabelFor(m => m.ClientDisability.ADLProblem)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.MedsAdministered)
						@Html.LabelFor(m => m.ClientDisability.MedsAdministered)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.VisualProblem)
						@Html.LabelFor(m => m.ClientDisability.VisualProblem)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.LimitedEnglish)
						@Html.LabelFor(m => m.ClientDisability.LimitedEnglish)
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ClientDisability.PrimaryLanguageID, new { @class = "control-label", data_toggle = "tooltip", title = "Select the client’s primary language." })
						@Html.LookupFor(m => m.ClientDisability.PrimaryLanguageID, "<Pick One>", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.ClientDisability.PrimaryLanguageID, "", new { @class = "help-block" })
					</div>
				</div>
				<div class="col-sm-6">
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.WheelChair)
						@Html.LabelFor(m => m.ClientDisability.WheelChair)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.Immobil)
						@Html.LabelFor(m => m.ClientDisability.Immobil)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.DevelopmentallyDisabled)
						@Html.LabelFor(m => m.ClientDisability.DevelopmentallyDisabled)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.SpecialDiet)
						@Html.LabelFor(m => m.ClientDisability.SpecialDiet)
					</div>
					<div class="checkbox">
						@Html.CheckBoxFor(m => m.ClientDisability.OtherDisability)
						@Html.LabelFor(m => m.ClientDisability.OtherDisability)
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.ClientDisability.WhatOther, new { @class = "control-label", data_toggle = "tooltip", title = "Specify any special need of the client if this need affects service provision and none of the existing options apply." })
						@Html.TextBoxFor(m => m.ClientDisability.WhatOther, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.ClientDisability.WhatOther, "", new { @class = "help-block" })
					</div>
				</div>
			</div>
		</div>
	</fieldset>
</div>