@model Infonet.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { id="main", data_icjia_role = "dirty.form", autocomplete="off" }))
{
    @Html.AntiForgeryToken()
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div class="form-group">
				@Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "help-block" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "help-block" })
			</div>
			<div class="form-group">
				<input type="submit" value="Change password" class="btn btn-success" />
			</div>
		</div>
        <div class="col-md-6">
            <div id="message">
                <h4>New password must contain the following:</h4>
                <p id="length">Minimum <b>8 characters</b></p>
                <p id="number">A <strong>number</strong></p>                
                <p id="letter">A lowercase or capital (uppercase) letter <strong>(optional)</strong></p> 
                <p id="letter">Any special characters, for example: !#$%/*-^&*[]\|&#64; <strong>(optional)</strong></p> 
            </div>
        </div>

	</div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}