@using Infonet.Reporting.Enumerations
@model Infonet.Reporting.ViewModels.ManagementReportViewModel
@{
	string panelTitle = (string)ViewData["panelTitle"];
}
<div class="panel panel-primary icjia-error-group reportProperty @SubReportSelection.MngRptStaffServiceHotline.GetShortName()" style="display:none">
	<div class="panel-heading">
		<h2 class="panel-title">
			<span class="icjia-panel-title-text">@panelTitle</span>
		</h2>
	</div>
	<div class="panel-body">
		<div class="row">
			@foreach (var field in Model.StaffHotlineAvailableColumnSelections) {
				string chkd = string.Empty;
				string disabled = string.Empty;
				if (Model.StaffHotlineColumnSelections != null && Model.StaffHotlineColumnSelections.Contains(field)) {
					chkd = "checked='checked'";
				}
				if (field == ReportColumnSelectionsEnum.Staff || field == ReportColumnSelectionsEnum.HotlineCallType || field == ReportColumnSelectionsEnum.HotlineCallDate || field == ReportColumnSelectionsEnum.HotlineCallContacts || field == ReportColumnSelectionsEnum.HotlineCallTime) {
					chkd = "checked='checked'";
					disabled = "disabled='disabled'";
				}
				<div class="col-xs-6 col-sm-4 col-md-3">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="@Html.NameFor(model => model.StaffHotlineColumnSelections)" value="@((int)field)" data-icjia-name="@field.ToString()" @chkd @disabled /> @( field.GetDisplayName() )
						</label>
						@if (!string.IsNullOrEmpty(disabled)) {
							<input type="checkbox" name="@Html.NameFor(model => model.StaffHotlineColumnSelections)" value="@((int)field)" @chkd hidden />
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>
